body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #d9cccc;
    background-image: url('images/edgaras.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #300f95;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.221);
    background-image: linear-gradient(to bottom right, #9377d4, #300f95);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9377d4;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}
.header-content {
    display: flex;
    flex-direction: column;
    
}
nav a:hover {
    color: #401370;
}
header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
.subtitle {
    font-size: 1.2em;
    color: #555;
    font-weight: normal;
    margin: 5px 0 0 0;
}
section a {
    text-decoration: none;
    color: #d9cccc;
    
}
section a:hover {
    color: #9377d4;
}
.skills-container{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.skill {
    text-align: center;
    width: 200px;
    height: 200px;
    object-fit: contain;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.skill img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
#igudziai
{
    max-height: 300px;
}
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}